body{
  background-image: url("../img/wallpaper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar{
  /*padding:0 16px 0 75px !important;*/
}

#navbarTogglerDemo03 li{
  margin-right:12px;
}

#navbarTogglerDemo04 li{
  margin-right:14px;
}

#navbarTogglerDemo03 li a{
  color:white;
  font-weight: bold;
}

#navbarTogglerDemo04 li a{
  color:white;
  font-weight: bold;
  font-size: 19px;
}

.item .slider-item img{
	height: 160px !important;
}

.nav-item a{
	color: white;
}

.form-control.mr-sm-2{
	height:25px;
	width: 300px !important;
}

.page-link{
	padding: 5px 10px !important;
}

.pagination>li>a{
	background-color: #183868 !important;
	color: white;
	border: 0px solid white !important;
}




/*DAFTAR KOMIK*/
.postbody {
  width:100%
}

.nav_apb a{
  text-align: center;
display: inline-block;
background: #121212;
padding: 8px 12px !important;
margin: 2px;
border-radius: 3px;
color: white;
}

.soralist span {
    display: block;
    padding: 0 15px;
        padding-bottom: 0px;
    padding-bottom: 5px;
    border-bottom: 1px solid #312f40;
}

.advancedsearch .lbx {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    list-style: none;
    padding: 10px 0;
    border-radius: 3px;
    overflow: hidden;
}

.advancedsearch .lbl {
    display: block;
    text-align: left;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.radiox {
    display: block;
    position: relative;
    padding-left: 18px;
    margin-right: 15px;
    margin-bottom: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radiox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radiox .checkmarkx::after {
    top: 3px;
    left: 3.5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
}

.radiox input:checked ~ .checkmarkx {
    background-color: #694ba1;
}

.clear {
    clear: both;
}

.nav_apb {
    margin: 15px;
        margin-bottom: 15px;
    margin-bottom: 5px;
    text-align: center;
}

.gnr {
    font-family: inherit;
    border: 1px solid #333041;
    color: #ddd;
    line-height: 30px;
    padding: 0 15px;
    border-radius: 30px;
    background: #333041;
    cursor: pointer;
    font-weight: 300;
    display: none;
    font-size: 17px;
    margin: 2px;
    cursor: pointer;
}

.advancedsearch button.searchz {
    font-family: inherit;
    border: 1px solid #694ba1;
    color: #ddd;
    line-height: 30px;
    padding: 0 15px;
    border-radius: 30px;
    background: #694ba1;
    cursor: pointer;
    font-weight: 300;
    display: inline-block;
    font-size: 17px;
    margin: 2px;
}

.btnx {
    text-align: center;
    overflow: hidden;
}

.radiox input:checked ~ .checkmarkx {
    background-color: #494ba1;
}

.checkmark {
    position: absolute;
    top: 11px;
    left: 34px;
    height: 6px;
    border-radius: 50%;
    width: 6px;
    background-color: white;
}

.genx {
    display: block;
    position: relative;
    padding: 3px 0;
        padding-left: 0px;
    padding-left: 46px;
    margin-bottom: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    width: 25%;
}

.advancedsearch .lbx {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    list-style: none;
    padding: 10px 0;
    border-radius: 3px;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
}

.genx input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


.advancedsearch tr .inputx {
    background: #16151d;
    font-weight: 300;
    color: #fff;
    padding: 5px;
    width: 100%;
    border: 1px solid #16151d;
    border-radius: 3px;
    font-family: inherit;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.releases h1, .releases h3, #sidebar .section h4 {
    font-size: 1.1em;
    color: #dece19;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.advancedsearch .lbl {
    display: block;
    text-align: left;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: capitalize;
    margin-left: 10px;
    color:#7CFC00;
}
